<div style="background:#f7f7f7;font-family:Arial,sans-serif;font-size:14px;padding:20px 0;color:#000">
    <table style="background:#fff;margin:0 auto;max-width:800px;padding:20px 40px;width:100%">
        <tbody>
            <tr>
                <td valign="top">
                    <table cellspacing="0" cellpadding="0" style="width:100%">
                        <tbody>
                            <tr>
                                <td class="m_-3655226564915594624header__logo" style="padding:10px 0;text-align:left">
                                    <a href="URL/#index" style="color:#ec028c" target="_blank"><img src="URL/public/img/android-chrome-256x256.png" width="200" height="44" border="0" class="CToWUd" alt="logo"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>TEMPLATE
                </td>
            </tr>
        </tbody>
    </table>
</div>